<div class="container margin-top animated fadeIn margin-bottom">
    <div class="row">
        <div class="col-md-12">
        <h1>Descargas</h1>
        <hr>
    </div>
       
    </div>
    <p class="col-md-12">Desde esta secci&oacute;n podr&aacute;s descargar el cliente si lo necesitas, y el parche necesario para conectar a nuestros servidores.</p>

    <div class="row container">
        
        <div class="card margin-left margin-top-card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Cliente C4</h5>
              <p class="card-text">Cliente necesario para conectar a nuestro server.</p>
              <a href="#" class="btn btn-primary">Descargar cliente</a>
            </div>
          </div>


          <div class="card margin-left margin-top-card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Parche L2Cuarentena</h5>
              <p class="card-text">Parche para conectar al servidor, incluye texturas no obligatorias.</p>
              <a href="#" class="btn btn-primary">Descargar parche</a>
            </div>
          </div>

      

    </div>



</div>