<div class="animated fadeIn">
<div id="bannerimage">
    <div id="server">
        <h2></h2>
    </div>
  <div id="contador">

    <iframe width="300" height="154" src="https://w2.countingdownto.com/2937048" frameborder="0"></iframe>
  </div>
</div>
<div class="container margin-top">

    <div class="row">
        <div class="col-md-12">
            <h1>Bienvenidos!</h1>
            <hr>
        </div>
    </div>

    <div class="col-md-12"> 



            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel nunc ornare, commodo nibh at, tincidunt elit. Vivamus vel mi convallis, efficitur nunc quis, tempor odio. Vivamus porta velit eu lectus suscipit, sed imperdiet leo maximus. Sed aliquet risus ut augue gravida aliquet. Cras vulputate lectus libero, sed suscipit tellus vehicula dignissim. Maecenas luctus nibh sit amet ipsum blandit auctor. Nullam pellentesque dignissim lectus, non placerat libero dapibus sit amet. Nam tortor ante, mattis ac quam sed, hendrerit lobortis turpis. Donec ac dolor orci. Mauris viverra tempor dolor id sagittis. Maecenas sollicitudin maximus placerat. Donec hendrerit arcu est, ut fringilla arcu pellentesque id. Morbi maximus iaculis arcu quis egestas. Vestibulum id lorem maximus, fringilla turpis sit amet, malesuada felis. Maecenas nec mi ut risus tempus sodales. Praesent ut enim mollis, varius nulla sit amet, ornare diam.
                Proin ornare eros nec suscipit posuere. Mauris ornare, tellus in cursus molestie, eros lectus finibus elit, nec bibendum urna nunc non odio. Ut nec magna sit amet nisl ultrices fringilla. Duis non leo non dolor ullamcorper consequat. Etiam egestas purus sit amet sem euismod feugiat eu non lorem. Quisque eleifend mauris et arcu efficitur accumsan. Nulla sed neque non sapien elementum varius et sit amet turpis. Sed hendrerit semper elit, eu mattis eros aliquam ac.
                Phasellus congue nisi et tristique cursus. Duis rutrum lacus eget erat sollicitudin, posuere dignissim velit pretium. Integer faucibus augue magna, nec accumsan tortor volutpat a. Nunc a leo lectus. Proin nec ligula vel ex dictum ultricies vitae dictum massa. Aliquam pellentesque, velit non varius ultrices, nibh turpis cursus arcu, nec malesuada orci metus vitae erat. Donec neque ex, condimentum eget urna vitae, aliquet malesuada sem. Duis ante dolor, auctor nec nisl in, bibendum commodo enim. Aliquam tempus, elit interdum imperdiet interdum, sapien est faucibus dui, eget aliquam felis ante sit amet erat. Etiam in dolor erat. Fusce cursus tincidunt sapien vel feugiat. Nulla eget risus non erat lacinia consequat. Etiam sagittis ullamcorper orci, at vestibulum orci. Aliquam in ipsum vitae velit maximus hendrerit. Aenean non elit enim. Nulla vestibulum metus egestas viverra varius.
                Phasellus arcu nulla, volutpat in elit ac, laoreet maximus orci. Quisque faucibus erat non vestibulum porta. Integer quis nulla a ipsum pretium egestas nec vitae nulla. Proin posuere feugiat rhoncus. Nullam et ligula bibendum, mattis ipsum id, euismod nunc. Donec vestibulum lorem id mi consectetur ullamcorper. Donec tempor ac urna ac tincidunt. Praesent et mattis odio, eu maximus turpis. Phasellus congue sem vitae sollicitudin aliquam.
                Duis fringilla, felis eu aliquet gravida, ligula eros facilisis arcu, non ullamcorper urna erat sed lorem. Quisque iaculis leo ac lacinia eleifend. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent euismod venenatis euismod.
                Aliquam blandit lacus in metus vestibulum egestas. Vestibulum at odio tincidunt, vestibulum nunc et, sollicitudin nulla. Nulla euismod lacus porttitor felis feugiat condimentum. Maecenas elementum, mi id condimentum venenatis, dui lorem luctus dolor, eu  sagittis neque mauris molestie leo. Suspendisse eget elit velit. Suspendisse mollis commodo libero et ullamcorper. Mauris iaculis felis eu libero pharetra molestie. Praesent nec sapien non velit porttitor suscipit eu vel nisi. Aenean finibus ullamcorper urna, pharetra interdum nulla.
                Nam vitae neque ut quam imperdiet mollis. Vestibulum ullamcorper fringilla viverra. Donec ornare turpis at turpis cursus egestas vel non eros.
            </p>
  

    </div>
</div>











</div>